* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh; /* para que o gradient fique 100% na tela sem quebrar*/
  overflow-x: hidden;
  font-family: 'Kumbh Sans', sans-serif; 

  background-image: linear-gradient(hsl(293, 80%, 61%), hsl(240, 73%, 65%));
}

#container {
  width: 100%;
  height: 100%;
  padding: 8rem 2rem 2.2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;

  position: relative;
}

#container .section {
  width: 100%;
  background: #fff;

  border-radius: 1rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  

  /* position: relative; */
  
}

.section .main-image .woman-img {
  width: 15rem;

  position: relative;
  top: -6.7rem;
  /** vai colocar o elemento centralizado ao elemento pai */
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 2rem;
  z-index: 2;
}

.section .main-image .shadow-img {
  position: absolute;
  top: -0.1rem;
  left: 50%;
  transform: translateX(-50%);
}

.section .conteudo {
  margin-top: -5rem; 
  padding-bottom: 1.5rem;
}

.section .conteudo .title {
  text-align: center;
  margin-bottom: 2rem;

  color: hsl(238, 29%, 16%);
}

.section .conteudo .questions {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.section .conteudo .questions .question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.875rem;

  color: hsl(237, 12%, 33%);
  
  padding: 1rem 0;
  cursor: pointer;
}

.section .conteudo .questions .question:hover {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}

.questions .question .bold-text {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}

.section .conteudo .questions .arrow-up {
  transform: rotate(180deg);
}

/* aqui vai sumir com o elemento */
.questions .paragraphs {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  font-size: .875rem;
  color: hsl(237, 12%, 33%);
  padding-bottom: 1rem;
} 

/* quando for disparado a ação do click, vai voltar com o elemento na tela */
.questions .active {
  visibility: visible;
  opacity: 1;
  position: relative;
}

/** aplicando a responsividade */
@media (min-width: 1000px) {
 
  #container {
    max-width: 1000px;
    padding: 5rem 2rem 2.2rem 1.5rem;
    
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }

  .section .conteudo {
    margin-top: 2rem;
    text-align: left;
    margin-right: 3rem;
  }
  .section .conteudo .title {
    text-align: left;
    
  }

  .section .main-image {
    position: relative;
    top: 2rem;
    right: 6rem;
    
  }

  .section .main-image .woman-img {
    width: 25rem;
    display: block;
    top: 0;
  }
  .section .main-image .shadow-img {
    width: 46rem;
    top: -15rem;
    left: 3.7rem;
  }
}